<div class="container">
  <div id="content-wrapper">
    <h3>Welcome to the developer portal</h3>
    <p>
      The GNR API is a free web service created to deliver restaurant information.  At the moment, I maintain all the content of the site, which is pulled direcly off of LTH Forum.  I would be happy to authorize the LTH forum admins read/write access to the API and would consider offering a read only key to other developers interested in building out an application.  Please feel free to contact me with any questions or concerns.
      </p>
      <p>
      Access to the API is through the backend, but as this sites develops, I may consider building out an frontend interface so that admins can update the site directly from the GUI.
      </p>
      <a href="mailto:ck0825@yahoo.com?subject=feedback">email me</a>
      <br><hr>

    <p>
      <strong>If you find this service useful, please consider donating.</strong>
    </p>


  </div>
</div>
