/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';

html, body {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

.random {
	font-weight: bold;
	background-color: lightgreen;
}

#root {
	font-size: 1.2em;
}
.navbar-collapse {
	text-align: center;
	float: right;
}
.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-weight: 300;
}

.container {
	margin-left: 0px;
	padding: 1em 3em;
	margin-top: 100px;
}


table {
	border: 1px solid black;
	table-layout: auto;
	width: 100%;
	th {
		font-size: .8em;
		font-family: 'Raleway', sans-serif;
		font-weight: normal;
	}
	th.wide {
		width: 550px;
	}
	th.medium {
		width: 125px;
	}
	th.narrow {
		width: 60px;
	}

	th.sortable {
	    color: blue;
	    cursor: pointer;
	    text-decoration: underline;
	}
	th.sortable:hover {
		color: black;
	}
	th.sorted-asc, th.sorted-desc  {
		color: black;
	}
	.sorted {
		font-style: italic;
		color:darkred;
	}

	td{
  border: 1px solid black;
	height: 50px;
	font-size: .8em;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	border-collapse: collapse;
	}
}

.panel {
	max-width: 300px;
	align-items: center;
}
